{% extends 'base.html' %}
{% block title %}Edit Registra{% endblock %}
{% block content %}
    <section class="flex flex-col gap-5 shadow-2xl p-10 rounded-2xl">
        <div>
            <img id="imgPreview" src="#" alt="No image selected" class="w-50 h-50">
        </div>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ userform.as_div }}
            {{ registraform.as_div }}
            <button type="submit">Edit</button>
        </form>
    </section>
{% endblock %}

{% block script %}
<script>
    const fileInput = document.querySelector('input[type="file"][name="img"]');
    const preview = document.getElementById('imgPreview');

    fileInput.addEventListener('change', function(event) {
        const file = event.target.files[0];
        if(file){
            const reader = new FileReader();
            reader.onload = function(e){
                preview.src = e.target.result;
                preview.style.display = 'block';
            }
            reader.readAsDataURL(file);
        } else {
            preview.src = '#';
            preview.style.display = 'none';
        }
    });
    window.addEventListener('load', function() {
        const file = document.querySelector('label[for="id_img"]').parentElement.children[1].href;
        if(file){
            preview.src = file;
        } else {
            preview.src = '#';
            preview.style.display = 'none';
        }
    });
</script>
{% endblock %}