{%extends 'base.html'%}
{%block title%}Home{%endblock%}

{% block head %}
<div class="mb-6 text-gray-800 flex flex-col gap-2">
    <div class="flex flex-col gap-1">
        <h1 class="text-3xl font-bold text-orange-500">Staff Dashboard</h1>
        <!-- <p class="text-gray-500">
            ยินดีต้อนรับ, {{ staff.first_name }} {{ staff.last_name }}
        </p> -->
    </div>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-4">
    <div class="bg-white shadow rounded-lg p-4 border border-orange-100">
        <h2 class="text-gray-500 text-sm">นักศึกษาทั้งหมด</h2>
        <p class="text-2xl font-bold text-orange-500">{{ total_students }}</p>
    </div>
    <div class="bg-white shadow rounded-lg p-4 border border-orange-100">
        <h2 class="text-gray-500 text-sm">วิชาที่เปิดสอน</h2>
        <p class="text-2xl font-bold text-orange-500">{{ total_courses }}</p>
    </div>
</div>
{% endblock %}

{%block content%}
{%endblock%}