{% extends 'base.html' %}
{% block title %}My Profile{% endblock %}

{% block content %}
<section class="flex flex-col gap-6 shadow-2xl p-8 md:p-10 rounded-2xl bg-white max-w-3xl mx-auto mt-10 items-center">
    <div class="flex justify-center">
        <h1 class="text-5xl font-extrabold text-orange-500 mb-4">โปรไฟล์</h1>
    </div>
    <img src="{{ user.img.url }}" alt="User Image" class="w-40 h-40 md:w-48 md:h-48 rounded-full object-cover mb-4 border-4 border-amber-400">
    
    <div class="text-lg flex flex-wrap justify-center gap-2 mb-2">
        <span class="bg-white py-1 px-3 rounded-full border border-amber-500">ชื่อ {{ user.title }}{{ user.first_name }}</span>
        <span class="bg-white py-1 px-3 rounded-full border border-amber-500">นามสกุล {{ user.last_name }}</span>
    </div>

    {% if user.is_student %}
    <div class="text-lg flex flex-wrap justify-center gap-2 mb-2">
        <span class="bg-white py-1 px-3 rounded-full border border-amber-500">คณะ {{ user.student.department.faculty.name }}</span>
        <span class="bg-white py-1 px-3 rounded-full border border-amber-500">สาขา {{ user.student.department.name }}</span>
        <span class="bg-white py-1 px-3 rounded-full border border-amber-500">ปี {{ user.student.student_year }}</span>
    </div>
    {% elif user.is_registra %}
    <div class="text-lg flex justify-center mb-2">
        <span class="bg-white py-1 px-3 rounded-full border border-amber-500">คณะ {{ user.registra.faculty.name }}</span>
    </div>
    {% endif %}

    <div class="flex justify-center mt-4">
        <a href="{% url 'changepassword' %}" 
           class="bg-amber-500 hover:bg-amber-600 transition-colors text-white font-medium py-2 px-6 rounded-full shadow">
           Change password
        </a>
    </div>
</section>
{% endblock %}
