{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    
    {%block style%}{%endblock%}
    <style>
        .errorlist {color: red;}
        
    </style>
</head>

<body class="">
    <nav>{%include 'layout/nav.html'%}</nav>
    <div class="min-h-screen bg-gray-50 flex items-center justify-center p-6">
        {%block center_box_content%}{%endblock%}
    </div>
</body>
</html>