{% extends 'base.html' %}
{% block title %}Payment Detail{% endblock %}
{% block content %}
    <section class="flex flex-col gap-5">
        <img src="{{ payment.slip.url }}" alt="" class="w-100 h-100">
        <div class="bg-white p-3">
            <h1 >รายระเอียด</h1>
            <p>
                {{ payment.student.student_id }} <br>
                {{ payment.student.user.title }} {{ payment.student.user.first_name }} {{ payment.student.user.last_name }} <br>
                ปี {{ payment.year }} <br>
                เทอม {{ payment.term }}
            </p>
        </div>
        <form action="" method="post" class="flex justify-center">
            {% csrf_token %}
            <button type="submit" class="bg-green-400 text-white p-1 rounded">ยืนยัน</button>
        </form>
    </section>
{% endblock %}