{% extends 'base.html' %}
{% block title %}Student List{% endblock %}
{% block content %}
<main>
    <section>
        <a href="{% url 'createprofessor' %}">Create Professor</a>
        <table>
            <thead>
                <tr>
                    <th>ชื่อ</th>
                    <th>คณะ</th>
                    <th>สาขา</th>
                </tr>
            </thead>
            <tbody>
                {% for professor in professors %}
                <tr>
                    <td>{{ professor.user.title }} {{ professor.user.first_name }} {{ professor.user.last_name }}</td>
                    <td>{{ professor.department.faculty.name }}</td>
                    <td>{{ professor.department.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}