{% extends 'base.html' %}
{% block title %}Student List{% endblock %}
{% block content %}
<main>
    <section>
        <a href="{% url 'createstudent' %}">Create Student</a>
        <table class="bg-white border ">
            <thead>
                <tr class="border border-gray-300">
                    <td class="px-4 py-2">รหัส</td>
                    <th class="px-4 py-2">ชื่อ</th>
                    <th class="px-4 py-2">ปี</th>
                    <th class="px-4 py-2">คณะ</th>
                    <th class="px-4 py-2">สาขา</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr class="border border-gray-300">
                    <td class="px-4 py-2">{{ student.student_id }}</td>
                    <td class="px-4 py-2">{{ student.user.title }} {{ student.user.first_name }} {{ student.user.last_name }}</td>
                    <td class="px-4 py-2">{{ student.year }}</td>
                    <td class="px-4 py-2">{{ student.department.faculty.name }}</td>
                    <td class="px-4 py-2">{{ student.department.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}