{% extends 'base.html' %}
{% block title %}Term fee List{% endblock %}
{% block content %}
<main>
    <section>
        <table>
            <thead>
                <tr>
                    <th>ปี</th>
                    <th>เทอม</th>
                    <th>ราคา</th>
                    <th>สถานะ</th>
                </tr>
            </thead>
            <tbody>
                {% for payment in payments %}
                <tr>
                    <td>{{ payment.year }}</td>
                    <td>{{ payment.term }}</td>
                    <td>{{ payment.department.term_fees }}</td>
                    <td>{{ payment.get_pay_display }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}