{% extends 'base.html' %}
{% block title %}Term fee List{% endblock %}
{% block content %}
<main>
    <section>
        <table>
            <thead>
                <tr>
                    <th>ชื่อ</th>
                    <th>ปี</th>
                    <th>คณะ</th>
                    <th>สาขา</th>
                    <th>สถานะ</th>
                </tr>
            </thead>
            <tbody>
                {% for payment in payments %}
                <tr>
                    <td>{{ payment.student.user.title }} {{ payment.student.user.first_name }} {{ payment.student.user.last_name }}</td>
                    <td>{{ payment.student.year }}</td>
                    <td>{{ payment.department.faculty.name }}</td>
                    <td>{{ payment.department.name }}</td>
                    <td>{{ payment.pay }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}