{% extends 'base.html' %}
{% block title %}Section Detail{% endblock %}
{% block content %}
<section class="flex flex-col gap-5 shadow-2xl p-10 rounded-2xl">
    <div class="flex justify-center">
        <h1 class="text-5xl">รายละเอียดเซ็ค</h1>
    </div>
    <div class="flex justify-center">
        <h1>{{ section.name }}</h1>
    </div>
</section>

<section class="flex flex-col gap-5 shadow-2xl p-10 rounded-2xl">
    <div class="flex justify-center">
        <h1 class="text-5xl">นักศึกษาทั้งหมด</h1>
    </div>
    <div class="flex justify-center">
        <table class="bg-white">
            <thead>
                <tr class="border border-gray-300">
                    <th class="px-4 py-2">รหัสนักศึกษา</th>
                    <th class="px-4 py-2">ชื่อ</th>
                    <th class="px-4 py-2">แก้ไขคะแนน</th>
                </tr>
            </thead>
            <tbody>
                {% for enroll in enrolls %}
                <tr class="border border-gray-300">
                    <td class="px-4 py-2">{{ enroll.student.student_id }}</td>
                    <td class="px-4 py-2">{{ enroll.student.user.first_name }}</td>
                    <td class="px-4 py-2"><a href="{% url 'grade' enroll.id %}">แก้ไขคะแนน</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}