{% extends 'base.html' %}
{% block title %}Term fee List{% endblock %}
{% block content %}
<main>
    <section class="flex flex-col gap-5 shadow-2xl p-10 rounded-2xl">
        <table class="bg-white">
            <thead>
                <tr class="border border-gray-300">
                    <td class="px-4 py-2">รหัส</td>
                    <th class="px-4 py-2">ชื่อ</th>
                    <th class="px-4 py-2">ปี</th>
                    <th class="px-4 py-2">คณะ</th>
                    <th class="px-4 py-2">สาขา</th>
                    <th class="px-4 py-2">ราคา</th>
                    <th class="px-4 py-2">สถานะ</th>
                    <th class="px-4 py-2">ตรวจสอบ</th>
                </tr>
            </thead>
            <tbody>
                {% for payment in payments %}
                <tr class="border border-gray-300">
                    <td class="px-4 py-2">{{ payment.student.student_id }}</td>
                    <td class="px-4 py-2">{{ payment.student.user.title }} {{ payment.student.user.first_name }} {{ payment.student.user.last_name }}</td>
                    <td class="px-4 py-2">{{ payment.student.student_year }}</td>
                    <td class="px-4 py-2">{{ payment.student.department.faculty.name }}</td>
                    <td class="px-4 py-2">{{ payment.student.department.name }}</td>
                    <td class="px-4 py-2">{{ payment.student.department.term_fees }}</td>
                    <td class="px-4 py-2 {% if payment.status == 'N' %} text-red-500 {% elif payment.status == 'W' %} text-yellow-500 {% else %} text-green-500 {% endif %}">{{ payment.get_status_display }}</td>
                    <td class="px-4 py-2">{% if payment.status == "W" %}<a href="{% url 'personel_payment_detail' payment.id %}">ตรวจสอบ</a>{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}