{% extends 'base.html' %}
{% block title %}Enroll List{% endblock %}
{% block head %}
<style>
    table, th{
        border: 1px black solid;
        border-collapse: collapse;
    }
    tr, td {
        border-inline: 1px black solid;
        border-collapse: collapse;
        text-align: center;
    }
</style>
{% endblock %}
{% block content %}
<main>
    <section>
        <table>
            <thead>
                <tr>
                    <th>รหัสนักศึกษา</th>
                    <th>วิชา</th>
                    <th>section</th>
                    <th>ยืนยัน</th>
                    <th>ยกเลิก</th>
                </tr>
            </thead>
            <tbody>
                {% for enroll in enrolls %}
                <tr>
                    <td>{{ enroll.student.student_id }}</td>
                    <td>{{ enroll.section.course.code }}{{ enroll.section.course.name }}</td>
                    <td>{{ enroll.section.number }}</td>
                    <td><a href="{% url 'api_confirm' enroll.id 'c' %}">ยืนยัน</a></td>
                    <td><a href="{% url 'api_confirm' enroll.id 'r' %}">ยกเลิก</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <script>
        function confirm(id) {
            console.log(id)
        }
    </script>
</main>
{% endblock %}