<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                text-align: center;
            }
            th, td {
                padding: 5px;
            }
            th {
                background-color: lightgray;
            }
            .course {
                background-color: lightblue;
            }
        </style>
    </head>
    <body onload="loadHandler()">
        <table>
            <tr>
                <th>Time</th>
                <th>8:00-9:00</th>
                <th>9:00-10:00</th>
                <th>10:00-11:00</th>
                <th>11:00-12:00</th>
                <th>12:00-13:00</th>
                <th>13:00-14:00</th>
                <th>14:00-15:00</th>
                <th>15:00-16:00</th>
                <th>16:00-17:00</th>
                <th>17:00-18:00</th>
                <th>18:00-19:00</th>
                <th>19:00-20:00</th>
            </tr>
            <tr>
                <th>SUN</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>MON</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="3" class="course">RE</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>TUE</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="4" class="course">TOOLS</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>WED</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="4" class="course">SERVERSIDE</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>THU</th>
                <td></td>
                <td colspan="3" class="course">ENG</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>FRI</th>
                <td></td>
                <td colspan="3" class="course">MIS</td>
                <td></td>
                <td colspan="4" class="course">CLOUD</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>SAT</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>    
        </table>
        <script>
            function loadHandler() {
                console.log("Timetable loaded");
            }
        </script>
    </body>
</html>