{% extends 'base.html' %}
{% block title %}Course Detail{% endblock %}
{% block content %}
<section class="flex flex-col gap-5 shadow-2xl p-10 rounded-2xl">
    <div class="flex justify-center">
        <h1 class="text-5xl">รายละเอียดวิชา</h1>
    </div>
    <div class="flex justify-center">
        <h1>{{ course.name }}</h1>
    </div>
</section>

<section class="flex flex-col gap-5 shadow-2xl p-10 rounded-2xl">
    <div class="flex justify-center">
        <h1 class="text-5xl">เซ็คทั้งหมด</h1>
    </div>
    <div class="flex justify-center">
        <table class="bg-white">
            <thead>
                <tr class="border border-gray-300">
                    <th class="px-4 py-2">เซ็ค</th>
                    <th class="px-4 py-2">จำนวนักศึกษา</th>
                    <th class="px-4 py-2">รายละเอียด</th>
                </tr>
            </thead>
            <tbody>
                {% for section in course.sections.all %}
                <tr class="border border-gray-300">
                    <td class="px-4 py-2">{{ section.number }}</td>
                    <td class="px-4 py-2">{{ section.enrolls.count }}</td>
                    <td class="px-4 py-2"><a href="{% url 'course_section_detail' section.id %}">รายละเอียด</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}